<div class="alert alert-danger">
	<p>
		The project is not developed nor supported any more. See
		<a href="https://github.com/diraven/streamchats2">https://github.com/diraven/streamchats2</a> for details.
	</p>
	<p>
		<strong>Warning:  this service is going to be shut down at 2017-04-01</strong>. Please make sure to find a
		replacement before then.
	</p>
	<p>
		If you have any questions - feel free to
		<a href="https://github.com/diraven/streamchats2/issues/new">create a ticket</a>.
	</p>
</div>
